{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} BlackOrWhite | Choisir un adversaire {% endblock %}

{% block content %}
<!-- Main Content -->
<section class="content-wrap">
  <!-- Banner -->
  <div class="youplay-banner banner-top">
    <div class="image" style="background-image: url('{% static 'assets/images/back.jpg' %}')"></div>
    <div class="info">
      <div>
        <div class="container align-center">
          <h2 class="h1"><strong>Choisissez votre adversaire</strong></h2>
          <!--<a href="{% url 'login' %}" class="btn active btn-lg btn-danger">Connectez-vous et Jouez!</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- /Banner -->
  <div class="container youplay-store">

    <!-- Games List -->
    <div class="col-md-9 col-md-push-3 isotope">
      <!-- Sort Categories -->
      <ul class="pagination isotope-options">
        <li data-filter="all" class="active"><span>Tout</span>
        </li>
        <li data-filter="free"><span>Black</span>
        </li>
        <li data-filter="popular"><span>White</span>
        </li>
        <li data-filter="specials"><span>A venir</span>
        </li>
      </ul>
      <!-- /Sort Categories -->

      <div class="isotope-list">

        <!-- Single Product Block -->
        <a href="#!" class="item angled-bg" data-filters="popular">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-xs-4">
              <div class="angled-img">
                <div class="img">
                  <img src="{% static 'assets/images/footerbg.jpg' %}" alt="">
                  <div class="badge show bg-default">L1</div>
                </div>
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-xs-8">
              <div class="row">
                <div class="col-xs-6 col-md-9">
                  <h4>Bloodborne</h4>
                  <div class="rating">
                    <span>Force: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Vitesse: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Défense: 12</span>&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 align-right">
                  <div class="price">
                    20%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- /Single Product Block -->

        <!-- Single Product Block -->
        <a href="#!" class="item angled-bg" data-filters="popular,specials">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-xs-4">
              <div class="angled-img">
                <div class="img">
                  <img src="{% static 'assets/images/footerbg.jpg' %}" alt="">
                  <div class="badge show bg-default">L1</div>
                </div>
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-xs-8">
              <div class="row">
                <div class="col-xs-6 col-md-9">
                  <h4>Dark Souls II</h4>
                  <div class="rating">
                    <span>Force: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Vitesse: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Défense: 12</span>&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 align-right">
                  <div class="price">
                    30%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- /Single Product Block -->

        <!-- Single Product Block -->
        <a href="#!" class="item angled-bg" data-filters="popular">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-xs-4">
              <div class="angled-img">
                <div class="img">
                  <img src="{% static 'assets/images/footerbg.jpg' %}" alt="">
                  <div class="badge show bg-info">L3</div>
                </div>
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-xs-8">
              <div class="row">
                <div class="col-xs-6 col-md-9">
                  <h4>Kingdoms of Amalur</h4>
                  <div class="rating">
                    <span>Force: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Vitesse: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Défense: 12</span>&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 align-right">
                  <div class="price">
                    40%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- /Single Product Block -->

        <!-- Single Product Block -->
        <a href="#!" class="item angled-bg" data-filters="">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-xs-4">
              <div class="angled-img">
                <div class="img">
                  <img src="{% static 'assets/images/footerbg.jpg' %}" alt="">
                  <div class="badge show bg-success">L5</div>
                </div>
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-xs-8">
              <div class="row">
                <div class="col-xs-6 col-md-9">
                  <h4>The Witcher</h4>
                  <div class="rating">
                    <span>Force: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Vitesse: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Défense: 12</span>&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 align-right">
                  <div class="price">
                    12%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- /Single Product Block -->

        <!-- Single Product Block -->
        <a href="#!" class="item angled-bg" data-filters="specials,free">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-xs-4">
              <div class="angled-img">
                <div class="img">
                  <img src="{% static 'assets/images/footerbg.jpg' %}" alt="">
                  <div class="badge show bg-success">L5</div>
                </div>
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-xs-8">
              <div class="row">
                <div class="col-xs-6 col-md-9">
                  <h4>Soul Sacrifice</h4>
                  <div class="rating">
                    <span>Force: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Vitesse: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Défense: 12</span>&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 align-right">
                  <div class="price">
                    90%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- /Single Product Block -->

        <!-- Single Product Block -->
        <a href="#!" class="item angled-bg" data-filters="specials">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-xs-4">
              <div class="angled-img">
                <div class="img">
                  <img src="{% static 'assets/images/footerbg.jpg' %}" alt="">
                  <div class="badge show bg-info">L2</div>
                </div>
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-xs-8">
              <div class="row">
                <div class="col-xs-6 col-md-9">
                  <h4>Dragons Dogma</h4>
                  <div class="rating">
                    <span>Force: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Vitesse: 12</span>&nbsp;&nbsp;&nbsp;
                    <span>Défense: 12</span>&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 align-right">
                  <div class="price">
                    100%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- /Single Product Block -->

      </div>

    </div>
    <!-- /Games List -->

    <!-- Left Side -->
    <div class="col-md-3 col-md-pull-9">

      <!-- Side Search -->
      <div class="side-block">
        <p>Chercher un adversaire:</p>
        <form action="search.html">
          <div class="youplay-input">
            <input type="text" name="search" placeholder="Nom de l'adversaire">
          </div>
        </form>
      </div>
      <!-- /Side Search -->

      <!-- Side Popular News -->
      <div class="side-block">
        <h4 class="block-title">Duels précédents</h4>
        <div class="block-content p-0">
          <!-- Single News Block -->
          <div class="row youplay-side-news">
            <div class="col-xs-3 col-md-4">
              <a href="store-product-1.html" class="angled-img">
                <div class="img">
                  <img src="{% static 'assets/images/footerbg.jpg' %}" alt="">
                </div>
              </a>
            </div>
            <div class="col-xs-9 col-md-8">
              <h4 class="ellipsis"><a href="store-product-1.html" title="Bloodborne">Bloodborne</a></h4>
              <span class="price">Victoire</span>
            </div>
          </div>
          <!-- /Single News Block -->

          <!-- Single News Block -->
          <div class="row youplay-side-news">
            <div class="col-xs-3 col-md-4">
              <a href="#!" class="angled-img">
                <div class="img">
                  <img src="{% static 'assets/images/footerbg.jpg' %}" alt="">
                </div>
              </a>
            </div>
            <div class="col-xs-9 col-md-8">
              <h4 class="ellipsis"><a href="#!" title="Dark Souls II">Dark Souls II</a></h4>
              <span class="price">Défaite</span>
            </div>
          </div>
          <!-- /Single News Block -->

          <!-- Single News Block -->
          <div class="row youplay-side-news">
            <div class="col-xs-3 col-md-4">
              <a href="#!" class="angled-img">
                <div class="img">
                  <img src="{% static 'assets/images/footerbg.jpg' %}" alt="">
                </div>
              </a>
            </div>
            <div class="col-xs-9 col-md-8">
              <h4 class="ellipsis"><a href="#!" title="Kingdoms of Amalur">Kingdoms of Amalur</a></h4>
              <span class="price">Victoire</span>
            </div>
          </div>
          <!-- /Single News Block -->

          <!-- Single News Block -->
          <div class="row youplay-side-news">
            <div class="col-xs-3 col-md-4">
              <a href="#!" class="angled-img">
                <div class="img">
                  <img src="{% static 'assets/images/footerbg.jpg' %}" alt="">
                </div>
              </a>
            </div>
            <div class="col-xs-9 col-md-8">
              <h4 class="ellipsis"><a href="#!" title="Let's Grind Diablo III">Diablo III</a></h4>
              <span class="price">Défaite</span>
            </div>
          </div>
          <!-- /Single News Block -->
        </div>
      </div>
      <!-- /Side Popular News -->

    </div>
    <!-- /Left Side -->
  </div>
  {% include 'partials/_footer.html' %}
</section>
<!-- /Main Content -->

{% endblock %}
