{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} BlackOrWhite | Profile du joueur {% endblock %}

{% block content %}
{% csrf_token %}
<!-- Main Content -->
<section class="content-wrap">
  <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax small">
      <div class="image" style="background-image: url('{% static 'assets/images/profile.jpg' %}')">
      </div>

      <div class="info">
        <div>
          <div class="container youplay-user">
            <a href="assets/images/user-photo.jpg" class="angled-img image-popup">
              <div class="img">
                <img src="{% static 'assets/images/' %}{{ profile.character.camp.camp_icon }}" alt="">
                {% if profile.character.level.id == 1 %}
                <div class="badge show bg-default">{{ profile.character.level.name }}</div>
                {% elif profile.character.level.id == 2 %}
                <div class="badge show bg-primary">{{ profile.character.level.name }}</div>
                {% elif profile.character.level.id == 3 %}
                <div class="badge show bg-success">{{ profile.character.level.name }}</div>
                {% else %}
                <div class="badge show bg-warning">{{ profile.character.level.name }}</div>
                {% endif %}
              </div>
              <i class="fa fa-search-plus icon"></i>
            </a>
            <!-- pas touche
                -->

            <div class="user-data">
              <h2>{{ user.username }}</h2>
              <div class="location">
                {% if profile.character.camp_id == 1 %}
                  <h4>Black team #{{ profile.user.id }}</h4>
                {% else %}
                  <h4>White team #{{ profile.user.id }}</h4>
                {% endif %}
              </div>
              <div class="activity">
                <div>
                  <div class="num" style="color: #3498db">{{ profile.character.fight_count }}</div>
                  <div class="title"><img src="{% static 'assets/images/blade.png' %}" alt="Combats" style="width:20px; height:20px;"> Combats</div>
                </div>
                <div>
                  <div class="num" style="color: #2ecc71">{{ profile.character.victories }}</div>
                  <div class="title"><img src="{% static 'assets/images/trophy.png' %}" alt="Victoires" style="width:20px; height:20px;"> Victoires</div>
                </div>
                <div>
                  <div class="num" style="color: #e74c3c">{{ profile.character.defeat }}</div>
                  <div class="title"><img src="{% static 'assets/images/loose.png' %}" alt="Défaites" style="width:20px; height:20px;"> Défaites</div>
                </div>
                <div style="color: #f1c40f">
                  <div class="num">{{ profile.character.gold }}</div>
                  <div class="title"><img src="{% static 'assets/images/gold.png' %}" alt="Or" style="width:20px; height:20px;"> Or</div>
                </div>
                <div style="color: #9b59b6">
                  <div class="num" id="experience">{{ profile.character.experience }}</div>
                  <div class="title"><img src="{% static 'assets/images/experience.png' %}" alt="Expérience" style="width:20px; height:20px;"> Expérience</div>
                </div>
              </div>
            </div>
          </div>
          <div class="container mt-20">
            <a href="{% url 'opponents' %}" class="btn btn-sm btn-default ml-0">Aller au combat</a>
            <!--<a href="#!" class="btn btn-sm btn-default">Private Message</a>-->
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->
    <div class="container youplay-content">

      <div class="row">

        <div class="col-md-9">
          <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#tab-att" aria-controls="tab-att" role="tab" data-toggle="tab" aria-expanded="true">Attributs</a>
              </li>
              <li role="presentation">
                <a href="#tab-inv" aria-controls="tab-inv" role="tab" data-toggle="tab" aria-expanded="true">Inventaires</a>
              </li>
            </ul>
            <div class="tab-content">

              <!-- Attributs Matchs -->
              <div role="tabpanel" class="tab-pane active" id="tab-att">
                <table style="border-collapse:separate; border-spacing:2em;" class="improve table-hover">
                   <tr>
                      <td style="width:90%">
                        <h4 class="youplay-match-title" data-toggle="tooltip" data-placement="left" title="L'amélioration coûte 30 pièces d'or">Force d'attaque</h4>
                      </td>
                      <td >
                        <div class="pull-right ml-30">
                          <div class="youplay-hexagon-rating" data-max="100" id="strg"  title="{{ profile.character.strength }} out of 100"><span id="strength-result">{{ profile.character.strength }}</span></div>
                        </div>
                      </td>
                      <td>
                        <a data-href="{% url 'improve' 1 %}" href="#" class="btn active btn-primary" id="strength" data-toggle="modal" data-target="">Améliorer</a>
                      </td>
                   </tr>
                   <tr>
                      <td style="width:90%">
                        <h4 class="youplay-match-title" data-toggle="tooltip" data-placement="left" title="L'amélioration coûte 26 pièces d'or">Défense</h4>
                      </td>
                      <td >
                        <div class="pull-right ml-30">
                          <div class="youplay-hexagon-rating" data-max="100" id="defe" title="{{ profile.character.defense }} sur 100"><span id="defense-result">{{ profile.character.defense }}</span></div>
                        </div>
                      </td>
                      <td>
                        <a data-href="{% url 'improve' 2 %}" href="#" class="btn active btn-primary" id="defense" data-toggle="modal" data-target="">Améliorer</a>
                      </td>
                   </tr>
                   <tr>
                      <td style="width:90%">
                        <h4 class="youplay-match-title" data-toggle="tooltip" data-placement="left" title="L'amélioration coûte 10 pièces d'or">Vitesse d'attaque</h4>
                      </td>
                      <td >
                        <div class="pull-right ml-30">
                          <div class="youplay-hexagon-rating" data-max="100" id="spee" title="{{ profile.character.speed }} sur 100"><span id="speed-result">{{ profile.character.speed }}</span></div>
                        </div>
                      </td>
                      <td>
                        <a data-href="{% url 'improve' 3 %}" href="#" class="btn active btn-primary" id="speed" data-toggle="modal" data-target="">Améliorer</a>
                      </td>
                   </tr>

                   <tr>
                      <td style="width:90%">
                        <h4 class="youplay-match-title" data-toggle="tooltip" data-placement="left" title="L'amélioration coûte 35 pièces d'or">Agilité</h4>
                      </td>
                      <td >
                        <div class="pull-right ml-30">
                          <div class="youplay-hexagon-rating" data-max="100" id="agili" title="{{ profile.character.agility }} sur 100"><span id="agility-result">{{ profile.character.agility }}</span></div>
                        </div>
                      </td>
                      <td>
                        <a data-href="{% url 'improve' 4 %}" href="#" class="btn active btn-primary" id="agility" data-toggle="modal" data-target="">Améliorer</a>
                      </td>
                   </tr>
                </table>
              </div>
              <!-- /Attributs Matchs -->

              <!-- Inventaires Matchs -->
              <div role="tabpanel" class="tab-pane" id="tab-inv">
                <div class="youplay-matches-list">

                  <!-- Accordion -->
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for  cat in cats %}
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="{{cat.id}}">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{cat.id}}" aria-expanded="true" aria-controls="collapseOne{{cat.id}}">
                                        {{ cat.name }} <span class="icon-plus"></span></a>
                        </h4>
                      </div>
                      <div id="collapseOne{{cat.id}}" class="panel-collapse collapse" role="tabpanel"><!--aria-labelledby="headingOne{{cat.id}}"-->
                        <div class="panel-body">
                          <table style="width:100%; padding: 2px;">
                            {% for item in items %}
                            {% if item.item.category_id == cat.id %}
                            <tbody>
                              <tr>
                                <td class="center-text" style="width:150px; padding:3px 3px 0 0;">
                                  {% if cat.id == 1 %}
                                  <img src="{% static 'assets/images/weapons/' %}{{ item.item.item_icon }}" alt="Arme">
                                  {% elif cat.id == 2 %}
                                  <img src="{% static 'assets/images/shields/' %}{{ item.item.item_icon }}" alt="Bouclier">
                                  {% else %}
                                  <!--Voir après si on gère les armures (en fonction du temps)-->
                                  <!--<img src="{% static 'assets/images/shields/' %}{{ item.item.item_icon }}" alt="Armure">-->
                                  {% endif %}
                                </td>
                                <td>
                                  <strong style="color: #e67e22">{{ item.item.name }}</strong>
                                  <br>
                                  {% if cat.id == 1 %}
                                  <br>Dégâts par les armes: {{ item.item.damages }}
                                  <br>
                                  <br>Force: {{ item.item.strength }}
                                  {% else %}
                                  <br>Energie vitale: {{ item.item.vital_energy }}
                                  <br>
                                  <br>Défense: {{ item.item.defense }}
                                  {% endif %}
                                  <br>Prérequis: {{ item.item.level.name }}
                                </td>
                                {% if item.is_active == 1 %}
                                <td class="center-text"><span class="yellow bold pull-right" style="color: yellow">activé</span></td>
                                {% else %}
                                <td class="center-text"><a data-href="" href="#" class="pull-right btn active btn-info" id="item-{{ item.id }}">Activer cette arme</a></td>
                                {% endif %}
                             </tr>
                          </tbody>
                          {% endif %}
                          {% endfor %}
                        </table>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <!-- /Accordion -->
                </div>
              </div>
              <!-- /Inventaires Matches -->
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Vous n'avez pas assez d'expérience pour vous améliorer!</h4>
            </div>
            <div class="modal-body">Combattez encore et encore pour acquérir de l'expérience!
              <!--Un peu spécial-->
              {% for i in "x"|ljust:"7" %}
              <img src="{% static 'assets/images/experience.png' %}" alt="Or" style="width:20px; height:20px;">
              {% endfor %}
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
              <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div>
        </div>
      </div>
      <!-- /Modals -->
  {% include 'partials/_footer.html' %}
</section>
<!-- /Main Content -->
{% block javascript %}
<script src="{% static 'js/allow_post_ajax.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      var strength = parseInt($('#strength-result').html());
      var defense = parseInt($('#defense-result').html());
      var speed = parseInt($('#speed-result').html());
      var agility = parseInt($('#agility-result').html());
      //Update user attributes
      $(".improve a").click(function(event) {
        //Test quantity of Gold
        if(parseInt($('#experience').html()) < 10){
          $(this).attr('data-target','#myModal');
          event.preventDefault();
        } else {
          var this_ = $(this);
          var improve_url = this_.attr("data-href");
          var id_element = event.target.id;
          $.ajax({
            method: "POST",
            url: improve_url,
            success: function(data) {
              if(id_element === "strength"){
                $('#strength-result').html(parseInt(data));
                $('#experience').html( parseInt($('#experience').html()) - 10)
                $('#strg').attr('title', data + " sur 100");
              }
              else if(id_element === "defense"){
                $('#defense-result').html(parseInt(data));
                $('#experience').html( parseInt($('#experience').html()) - 10)
                $('#defe').attr('title', data + " sur 100");
              }
              else if(id_element === "speed"){
                $('#speed-result').html(parseInt(data));
                $('#experience').html( parseInt($('#experience').html()) - 10)
                $('#spee').attr('title', data + " sur 100");
              }
              else if(id_element === "agility"){
                $('#agility-result').html(parseInt(data));
                $('#experience').html( parseInt($('#experience').html()) - 10)
                $('#agili').attr('title', data + " sur 100");
              }
            },
            error: function(error) {
              console.log("erreur",error);
            }
          });
          event.preventDefault();
         }
        });
    });
    </script>
{% endblock javascript %}
{% endblock %}
