{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} BlackOrWhite | Boutique {% endblock %}

{% block content %}
{% csrf_token %}
<!-- Main Content -->
  <section class="content-wrap">
    <!-- Banner -->
    <div class="youplay-banner youplay-banner-parallax banner-top xsmall">
      <div class="image" style="background-image: url('{% static 'assets/images/store.jpg' %}')">
      </div>

      <div class="info">
        <div>
          <div class="container">
            <h1>Boutique bow</h1>
          </div>
          <div class="container mt-20">
            <a href="{% url 'opponents' %}" class="btn btn-sm btn-default ml-0">Aller au combat</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

    <div class="container youplay-search">

      <!--<form action="">
        <div class="youplay-input">
          <input type="text" name="search" placeholder="Recherche..." autofocus>
        </div>
      </form>-->

      <div class="row item">
        <div class="col-md-6">
          <h2>Armes</h2>
          {% for item in items %}
          <!-- Single weapon -->
          {% if item.category_id == 1 %}
          {% if item.level_id > character.level_id %}
          <a class="angled-bg" data-toggle="tooltip" id="test" data-placement="left" title="Atteignez le niveau {{ item.level.name }} pour obtenir {{ item.name }}">
          {% else %}
          <a data-href="{% url 'buy' item.id %}" href="#" data-cat="{{ item.category_id }}" data-image="{{ item.item_icon }}" class="angled-bg" data-gold="{{ character.gold }}" data-price="{{ item.cost_gold }}" data-toggle="modal" data-target="#myModal">
          {% endif %}
            <div class="row">
              <div class="col-md-3 col-xs-4">
                <div class="angled-img">
                  <div class="img" style="background: black">
                    <img src="{% static 'assets/images/weapons/'%}{{ item.item_icon }}" alt="{{ item.name }}">
                    {% if item.level.id == 1 %}
                    <div class="badge show bg-default">L1</div>
                    {% elif item.level.id == 2 %}
                    <div class="badge show bg-primary">L2</div>
                    {% elif item.level.id == 3 %}
                    <div class="badge show bg-success">L3</div>
                    {% else %}
                    <div class="badge show bg-warning">L4</div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-xs-8">
                <div class="row">
                  <div class="col-xs-6 col-md-9">
                    <h4 style="color: #e67e22">{{ item.name }}</h4>
                    <div class="rating">
                      <p>Dégâts par les armes: {{ item.damages }}</p>
                      <p>Force: {{ item.strength }}</p>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-3 align-right">
                    <div class="price">
                      <img src="{% static 'assets/images/gold.png' %}" alt="Or" style="width:20px; height:20px;"> {{ item.cost_gold }}
                    </div>
                    <!--<div class="price">
                      $50.00
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endif %}
          {% endfor %}
          <!-- /Single weapon -->
        </div>

        <div class="col-md-6">
          <h2 style="text-align: right">Boucliers</h2>
          {% for item in items %}
          <!-- Single shield -->
          {% if item.category_id == 2 %}
          {% if item.level_id > character.level_id %}
          <a class="angled-bg" data-toggle="tooltip" data-placement="left" title="Atteignez le niveau {{ item.level.name }} pour obtenir {{ item.name }}">
          {% else %}
          <a data-href="{% url 'buy' item.id %}" href="#" data-cat="{{ item.category_id }}" data-image="{{ item.item_icon }}" class="angled-bg" data-gold="{{ character.gold }}" data-price="{{ item.cost_gold }}" data-toggle="modal" data-target="#myModal">
          {% endif %}
            <div class="row">
              <div class="col-md-3 col-xs-4">
                <div class="angled-img">
                  <div class="img" style="background: black">
                    <img src="{% static 'assets/images/shields/'%}{{ item.item_icon }}" alt="{{ item.name }}">
                    {% if item.level.id == 1 %}
                    <div class="badge show bg-default">L1</div>
                    {% elif item.level.id == 2 %}
                    <div class="badge show bg-primary">L2</div>
                    {% elif item.level.id == 3 %}
                    <div class="badge show bg-success">L3</div>
                    {% else %}
                    <div class="badge show bg-warning">L4</div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-xs-8">
                <div class="row">
                  <div class="col-xs-6 col-md-9">
                    <h4 style="color: #e67e22">{{ item.name }}</h4>
                    <div class="rating">
                      <p>Energie vitale: {{ item.vital_energy }}</p>
                      <p>Défense: {{ item.defense }}</p>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-3 align-right">
                    <div class="price">
                      <img src="{% static 'assets/images/gold.png' %}" alt="Or" style="width:20px; height:20px;" data-price="{{ item.cost_gold }}"> {{ item.cost_gold }}
                    </div>
                    <!--<div class="price">
                      $50.00
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endif %}
          {% endfor %}
          <!-- /Single shield -->
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Confirmez votre achat!!</h4>
          </div>
          <div class="modal-body">
          <p class="message"></p>
          <p class="text-center"></p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn active btn-default" data-dismiss="modal">Annuler</button>
            <a data-href="#" class="btn btn-primary" id="buy-link" style="display: none;">Je valide!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Modals -->
    {% include 'partials/_footer.html' %}
  </section>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/allow_post_ajax.js' %}"></script>
    <script>
    $(document).ready(function() {
       //Update user attributes
       $("a").click(function(event) {
          var this_ = $(this);
          //Récupération valeur(url) de l'attribut data-ref du lien cliqué
          var buy_url = this_.attr("data-href");
          //On passe l'url du lien à l'attribut data-ref du modal
          if(parseInt(this_.attr("data-gold")) >= parseInt(this_.attr("data-price"))){
            //Si on a assez d'or on affiche le message correspondant
            $("#myModalLabel").html("Confirmez votre achat!!");
            $('.message').html("Vous êtes sur le point d'effectuer un achat sur boutique bow. Confirmez vous votre achat?");
            if(parseInt(this_.attr("data-cat")) === 1) {
              $('.text-center').html("<img src='/static/assets/images/weapons/" + this_.attr('data-image') +"' alt='"+this_.attr('data-image')+"' style='width: 100px; height: 100px;'>");
            }
            else if(parseInt(this_.attr("data-cat")) === 2) {
              $('.text-center').html("<img src='/static/assets/images/shields/" + this_.attr('data-image') +"' alt='"+this_.attr('data-image')+"' style='width: 100px; height: 100px;'>");
            }
            document.getElementById("buy-link").style.display = "inline";
            $('#myModal').show().attr('data-href', buy_url);
          } else if(parseInt(this_.attr("data-gold")) < parseInt(this_.attr("data-price"))){
            //Sinon on change le message du modal
            $("#myModalLabel").html("Attention!!");
            $('.message').html("Désolé! Vous ne disposez pas d'assez d'or pour effectuer cette opération.");
            document.getElementById("buy-link").style.display = "none";
            $('.text-center').html("");
          }
      });

      //Gestion de la validation (envoie de la requête ajax)
      $("#buy-link").click(function(event) {
        //On récupère l'url
        var buy_url = $('#myModal').attr('data-href');
        //Fermeture du modal après validation
        $("#myModal").modal("hide");
        $.ajax({
          method: "POST",
          url: buy_url,
          success: function(data) {
            if(data === "interdit")
              alert("Vous possédez déjà cet item");
            console.log(data);
          },
          error: function(error) {
            console.log("erreur",error);
          }
       });
      });
    });
    </script>
{% endblock javascript %}
